* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    /* background: orange; */
    position: relative;
    
    
}

/*1. Header */

nav {
    background: #008080 ;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    
}

label.logo {
    color: #fff;
    font-size: 2.2rem;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 700;

}
nav ul {
    float: right;
    margin-right: 20px;
    z-index: 1000;
}
nav ul li {
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 7px 13px;
}
nav ul li a:hover {
    border: 2px solid #079995;
    color:#fff;
}
a.active, a:hover {
    background: #079995;
    transition: 0.5s all ease;
}
.checkbtn {
   float: right;
   font-size: 30px;
   color: #fff;
   margin-right: 40px;
   cursor: pointer;
   display: none;
}
.checkbtn i {
    line-height: 80px;
}
#check {
    display: none;
}
/* 2. Main Section */

.main_container {
    margin-top: 90px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    /* min-height: calc(100vh - 40px); */
   
}
.image_box {
    background-color: #008080;
    text-align: center;
    margin-top: 30px;
    margin-left: 80px;
    border-radius: 10px;
    height: 605px;
}
.image_container {
    background: #fff;
    border-radius: 30px;
    height: 96.5%;
    margin: 10px;
    box-shadow: inset 0 0 10px;
}

.image_box img {
   height: 30%;
   margin-top: 190px;
   
}
.description_box {
    margin-top: 30px;
    margin-right: 80px;
}

.description_box .description img {
   height: 200px;
   
}
.description_box .description p {
    text-align: left;
}

.description {
    /* border: solid 3px #079995; */
    padding: 50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5px;
    margin-left: 10px;
    
}
.description:nth-child(2) {
   
     background-color: #008080;
     border-radius: 10px;
     
}
.description:nth-child(2) p {
    color: #fff;
}

/*4. Footer */
footer {
    text-align: center;
    background-color: #008080;
    position: absolute;
    top: 110%;
    width: 100%;
    z-index: -1;
}
.footer_bottom {
    width: 100vw;
    padding: 20px 0;
}
.footer_bottom p {
    color: #fff;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
   
}
.footer_bottom span {
    text-transform: uppercase;
    opacity: .4;
}


.owl-carousel .owl-item img {
    width: 200px;
    margin: auto;
    padding-top: 25px;
    padding-bottom : 10px;
}
.owl-carousel {
    /* background: green; */
    z-index: 2;
}
.owl-carousel .item {
    border: 1px solid #8AB5B4;
    border-radius: 20px;
    box-shadow: inset -1px 0px 10px 4px rgba(212, 211, 211, 0.57);
    margin: 10px;
}
.slider_section h2 {
    margin-top: 30px;
    font-size: 3rem;
    text-align: center;
}
.second_slider_section h2 {
    font-size: 3rem;
    text-align: center;
    margin-top: 100px;
    
}
.owl-theme .owl-nav.disabled+.owl-dots {
    
    padding-bottom: 20px;
}
/*Back to top Button*/
.scrollToTopBtn {
    background: transparent;
    border: none;
    position: absolute;
    right: 30px;
    z-index: 10;
    
}
.scrollToTopBtn i{
    font-size: 3rem;
    
}

/**************Media Queries***************/

@media screen and (min-width: 279px) and (max-width: 499px) {
    /*1. Header*/
    label.logo {
        font-size: 1.3rem;
        padding: 0;
    }

    /*2. Main Section*/
    .main_container {
        grid-template-columns: 1fr;
    }
    .image_box {
        margin-top: 5px;
        margin-left: 5px;
        width: 98%;
        height: 200px;
    }
    .image_box img {
        margin-top: 60px;
        margin-left: 10px;
    }
    .image_container {
        
        height: 180px;
        margin: 10px;
    }
    .description_box .description img {
        height: 100px;
        
     }
     .description_box .description p {
         font-size: 0.7rem;
         margin-top: 10px;
         padding-right: 10px;
     }
     .description {
         padding: 10px;
         margin: 10px;
     }
     .description_box {
       margin-right: 0;
       padding: 0;
    }
    .slider_section h2 {
        font-size: 2rem;
       
    }
    .second_slider_section h2 {
        font-size: 2rem;
      
        
    }
    
    
}
@media screen and (max-width: 376px) {
    label.logo {
        padding: 0;
    }
}


@media screen and (max-width: 952px) {
    label.logo {
    font-size: 1.8rem;
    padding-left: 20px;
    }
    nav ul li a {
        font-size: 1rem;
    }
}
@media screen and (max-width: 858px) {
    /*1. Header*/
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #008080;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 1.25rem;
    }
    a:hover{
        background: none;
        color:#008080;
    }
    #check:checked ~  ul {
        left: 0;
    }
}
@media screen and (min-width: 500px) and (max-width: 1024px) {
    .main_container:nth-child(1) {
        grid-template-columns: 1fr;
    }
    .image_box {
        margin: 10px;
        max-width: 100%;
        height: 400px;
    }
    .image_container {
        width: 97.5%;
        height: 380px;
    }
    .image_container img {
        margin-top: 90px;
    }
    .description_box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 0px;
    }
    .description {
        margin: 10px;
        padding: 20px 10px 20px 10px;
    }
    .description_box .description img {
        /* margin-top: 10px; */
        height: 70px;
        
    }
    .description_box .description p {
        font-size: 0.7rem;
        margin-right: 30px;
    }
    #back-to-top-btn { 
        font-size: 22px; 
        width: 40px; 
        height: 40px;
        bottom: 15px; 
        right: 15px; 
    }
}
@media screen and (min-width: 1029px) and (max-width: 1200px) {
    .description_box .description img {
        height: 120px;
    }
}

/***************************Back to top**************************/
#back-to-top-btn {
    z-index: 99;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    border: 3px solid #333;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
  }
  #back-to-top-btn:hover, #back-to-top-btn:focus {
    background-color: #333;
    color: #fff;  
  }
  
  
  /* Animations */
  .btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
  }

  /* fadeInUp */
  @keyframes btnEntrance {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;  
    animation-name: btnExit;
  }

  
  /* fadeOutDown */
  @keyframes btnExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }

